{#
/**
 * @file
 * Template for Profile node "Basic" display.
 *
 * Available custom variables:
 * - basic_media: a rendered responsive image from field_utprof_basic_media
 * - directory_link: a UT button-styled link to the EID's directory page
 * - building_information: array with building code and/or room number
 *
 * @see utprof_content_type_profile_preprocess_node()
 *
 */
#}

{%
  set classes = [
    'utprof__list',
    view_mode ? view_mode|clean_class,
    not node.isPublished() ? 'is-unpublished',
    node.bundle|clean_class,
    'clearfix',
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="utprof__list-img float-start mx-3">
    {{ basic_media }}
  </div>

  <div class="utprof__text-wrapper">
    {% if prepared_title %}
      <h3 class="utprof__title">
        {{ prepared_title }}
      </h3>
    {% endif %}

    {% if content.field_utprof_designation|render is not empty %}
      <div class="utprof__designation">
        {{ content.field_utprof_designation }}
      </div>
    {% endif %}

    {% if directory_link %}
      <div class="utprof__directory-link">
        {{ directory_link }}
      </div>
    {% endif %}

    {% if email_link|render is not empty %}
      <div class="utprof__email">
        {{ email_link }}
      </div>
    {% endif %}
  </div>

</div>
